{% extends 'templates/template.php.twig' %}


{% block content %}
    <div class="container">

        <div class="card mt-5">

            <div class="card-header">
                Listagem
            </div>

            <div class="card-body">

                <form action="/usuarios/update/{{ user.id }}" method="POST">

                    <div class="form-row">

                        <div class="col">
                            <label for="inputAddress2">Nome</label>
                            <input type="text" class="form-control" name="nome" required id="email"
                                   value="{{ user.nome }}">

                        </div>

                        <div class="col">
                            <label for="inputAddress2">Email</label>
                            <input type="email" class="form-control" name="email" required id="email"
                                   value="{{ user.email }}">

                        </div>


                    </div>

                    <div class="form-row mt-3">
                        <div class="col">
                            <label for="inputAddress2">CPF</label>
                            <input type="text" class="form-control" name="cpf" required id="cpf" value="{{ user.cpf }}">
                        </div>

                        <div class="col">
                            <label for="inputAddress">Senha</label>
                            <input type="password" class="form-control" name="senha" required id="senha"
                                   value="{{ user.senha }}">
                        </div>

                    </div>

                    <button type="submit" class="btn btn-success mt-2">Salvar</button>


                </form>

            </div>

        </div>

    </div>
{% endblock %}